.footer {
  background-color: #373737 !important; 
  color: #fff !important;                
  justify-content: center;
  text-align: center;
  padding: 16px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
}

.footer-content {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  font-size: 13px;
}