.app-header {
  background-color: #ffffff;         
  color: #000;                                    
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);   
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.toolbar-left,
.toolbar-right {
  display: flex;
  align-items: center;
}

.toolbar-right {
  margin-left: auto;
}

.logo {
  height: 40px;
  margin-right: 16px;
}
